.backgroundColour1 {
    -fx-background-color: linear-gradient(to left, #1e3799,c, #000000);
}

.backgroundColour2 {
    -fx-background-color: linear-gradient(to left, #0a3d62, #38ada9, #3c6382);
}

.backgroundColour3 {
    -fx-background-color: linear-gradient(to left, #30336b, #000000, #3B3B98);
}

.backgroundColour4 {
    -fx-background-color: linear-gradient(to left, #ec7063, #f7dc6f, #a569bd);
}

.backgroundColour5 {
    -fx-background-color: linear-gradient(to left, #e74c3c, #f39c12, #16a085);
}

.backgroundColour6 {
    -fx-background-color: linear-gradient(to left, #1abc9c, #3498db, #f1c40f);
}

.backgroundColour7 {
    -fx-background-color: linear-gradient(to left, #2ecc71, #8e44ad, #f39c12);
}

.backgroundColour8 {
    -fx-background-color: linear-gradient(to left, #3498db, #9b59b6, #e74c3c);
}

.backgroundColour9 {
    -fx-background-color: linear-gradient(to left, #f39c12, #2980b9, #e67e22);
}

.backgroundColour10 {
    -fx-background-color: linear-gradient(to left, #16a085, #2c3e50, #f39c12);
}

.backgroundColour11 {
    -fx-background-color: linear-gradient(to left, #2c3e50, #c0392b, #2980b9);
}

.backgroundColour12 {
    -fx-background-color: linear-gradient(to left, #8e44ad, #3498db, #27ae60);
}

.backgroundColour13 {
    -fx-background-color: linear-gradient(to left, #27ae60, #2c3e50, #f1c40f);
}

.backgroundColour14 {
    -fx-background-color: linear-gradient(to left, #c0392b, #8e44ad, #2c3e50);
}

.backgroundColour15 {
    -fx-background-color: linear-gradient(to left, #f1c40f, #2980b9, #e74c3c);
}

.backgroundColour16 {
    -fx-background-color: linear-gradient(to left, #2980b9, #27ae60, #8e44ad);
}

.backgroundColour17 {
    -fx-background-color: linear-gradient(to left, #2ecc71, #f39c12, #3498db);
}

.backgroundColour18 {
    -fx-background-color: linear-gradient(to left, #8e44ad, #16a085, #e74c3c);
}

.backgroundColour19 {
    -fx-background-color: linear-gradient(to left, #16a085, #f1c40f, #3498db);
}

.backgroundColour20 {
    -fx-background-color: linear-gradient(to left, #2c3e50, #e74c3c, #3498db);
}

.backgroundColour21 {
    -fx-background-color: linear-gradient(to left, #f39c12, #8e44ad, #16a085);
}

.backgroundColour22 {
    -fx-background-color: linear-gradient(to left, #27ae60, #3498db, #f1c40f);
}

.backgroundColour23 {
    -fx-background-color: linear-gradient(to left, #3498db, #f39c12, #2c3e50);
}

.backgroundColour24 {
    -fx-background-color: linear-gradient(to left, #2980b9, #2ecc71, #c0392b);
}

.backgroundColour25 {
    -fx-background-color: linear-gradient(to left, #8e44ad, #f39c12, #27ae60);
}

.backgroundColour26 {
    -fx-background-color: linear-gradient(to left, #f1c40f, #2c3e50, #e74c3c);
}

.backgroundColour27 {
    -fx-background-color: linear-gradient(to left, #2c3e50, #f39c12, #3498db);
}

.backgroundColour28 {
    -fx-background-color: linear-gradient(to left, #c0392b, #2980b9, #27ae60);
}

.backgroundColour29 {
    -fx-background-color: linear-gradient(to left, #16a085, #2c3e50, #f1c40f);
}

.backgroundColour30 {
    -fx-background-color: linear-gradient(to left, #2ecc71, #8e44ad, #3498db);
}

.backgroundColour31 {
    -fx-background-color: linear-gradient(to left, #3498db, #9b59b6, #e74c3c);
}

.backgroundColour32 {
    -fx-background-color: linear-gradient(to left, #f39c12, #2980b9, #e67e22);
}

.backgroundColour33 {
    -fx-background-color: linear-gradient(to left, #16a085, #2c3e50, #f39c12);
}

.backgroundColour34 {
    -fx-background-color: linear-gradient(to left, #2c3e50, #c0392b, #2980b9);
}

.backgroundColour35 {
    -fx-background-color: linear-gradient(to left, #8e44ad, #3498db, #27ae60);
}

.backgroundColour36 {
    -fx-background-color: linear-gradient(to left, #27ae60, #2c3e50, #f1c40f);
}

.backgroundColour37 {
    -fx-background-color: linear-gradient(to left, #000000, #ffffff);
}